
*.exe
C/Y2023-Semester1/Oma-tasks/TEST.c
.vscode/tasks.json
.vscode
.vscode/*

C/C-Programming-TT00CB05-3045/Project-folder/cmp1.c
C/C-Programming-TT00CB05-3045/Project-folder/cmp2.c

*/isdProjectImports/__pycache__/*
